<div class="sh-width-full {{styleClass}}">

    <div class="sh-flex-row sh-justify-content-space-between sh-align-items-center">
        <h1>Projects</h1>
        <ma-button label="Create Project" (clickEvent)="goToForm()"></ma-button>
    </div>
    <div class="sh-flex-row sh-justify-content-end sh-mtb-20">
        <div (click)="refresh()" class="sh-flex-row sh-pr-15 sh-cursor-pointer">
            <fa-icon [icon]="ICON_REFRESH"></fa-icon>
            <span class="sh-display-block sh-ml-5">Refresh</span>
        </div>
    </div>
    <div class="sh-flex-column sh-mt-20">
        <ma-table [loading]="loading" [data]="projects!" [options]="tableOptions">
            <ng-template let-oneData #body>
                <td class="sh-flex-row sh-align-items-center sh-width-30">
                    <fa-icon (click)="onStarred(oneData.id, oneData.starred)"
                             class="sh-cursor-pointer sh-mr-5"
                             [ngClass]="{'starred': oneData.starred}"
                             [icon]="ICON_STAR">
                    </fa-icon>
                    @if (loadingStarred) {
                        <ma-loader></ma-loader>
                    }
                </td>
                <td>{{ oneData.name }}</td>
                <td>{{ oneData.key }}</td>
                <td>{{ oneData.type[0] }}</td>
                <td>{{ oneData.lead.name?.firstName }}</td>
                <td></td>
            </ng-template>
        </ma-table>
    </div>
</div>