<div class="sh-flex-column ma-table {{styleClass}}">
    <table>
        <thead>
        <tr>
            @for (option of options; track option.field) {
                <th>{{ option.header }}</th>
            }
        </tr>
        </thead>
        @if (!isLoading() && !isDataEmpty()) {
            <tbody>

                @for (oneData of data; track oneData) {
                    <tr>
                        <ng-container
                                [ngTemplateOutlet]="bodyTemplateRef"
                                [ngTemplateOutletContext]="{$implicit:oneData}">
                        </ng-container>
                    </tr>
                }
            </tbody>
        }
    </table>
    @if (!isLoading() && isDataEmpty()) {
        <p class="sh-flex-row-center sh-height-100">
            <span class="sh-display-block">Aucune donné trouvée.</span>
        </p>
    }
    @if (isLoading()) {
        <p class="sh-flex-row-center sh-height-100">
            <span class="sh-display-block">Loading </span>
            <ma-loader></ma-loader>
        </p>
    }

</div>
