<div class="sh-flex-column sh-width-full">
    <ma-header class="sh-height-20"></ma-header>
    <div class="sh-flex-row sh-height-80">
        <ma-sidebar class="sh-width-percent-20"></ma-sidebar>
        <div class="sh-flex-column sh-width-percent-80 sh-position-relative">
            <div class="sh-position-absolute sh-top-10 sh-mt-100">
                <router-outlet></router-outlet>
            </div>
            <ma-footer class="sh-position-absolute sh-bottom-0"></ma-footer>
        </div>
    </div>

</div>

