/* You can add global styles to this file, and also import other style files */

@import '../src/app/styles/sh.button';
@import '../src/app/styles/sh-constant';
@import '../src/app/styles/sh-sizing';
@import '../src/app/styles/sh-spacing';
@import '../src/app/styles/sh-flex';

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  color: #44546F;
  font-size: 14px;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

$colorSelected: #1868DB;
$backgroundSelected: #E9F2FE;

.sh-cursor-pointer {
  cursor: pointer;
}

.sh-list-inline-container {
  padding-inline-start: 0px !important;
  padding-inline-end: 0px !important;

  li {
    list-style-type: none;
    cursor: pointer;
    padding: 7px 0px 7px 5px;
  }

  li:hover {
    background-color: #0B120E24;
    border-radius: 3px;
  }

  .active {
    background-color: $backgroundSelected;
    color: $colorSelected;
    border-radius: 3px;
  }

  .active:hover {
    background-color: $backgroundSelected !important;
  }
}

body[scheme='light'] {
  --primary-color: #0052CC;
}

body[scheme='dark'] {
  --primary-color: #679df1;
}

